<div class="control-group">

{{ form_label(form.nombre,"Nombre", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.nombre, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_sucursal_nombre_errorloc' class="help-inline error" >{{ form_errors(form.nombre) }}</div>
  
</div>
</div>

<div class="control-group">

{{ form_label(form.responsable,"Responsable", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.responsable, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_sucursal_responsable_errorloc' class="help-inline error" >{{ form_errors(form.responsable) }}</div>
  
</div>
</div>

<div class="control-group">

{{ form_label(form.dni,"DNI", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.dni, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_sucursal_dni_errorloc' class="help-inline error" >{{ form_errors(form.dni) }}</div>
  
</div>
</div>

<div class="control-group">

{{ form_label(form.direccion,"Dirección", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.direccion, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_cliente_direccion_errorloc' class="help-inline error" >{{ form_errors(form.direccion) }}</div>
  
</div>
</div>

<div class="control-group">

{{ form_label(form.observacion,"Observaciones", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.observacion, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_cliente_observacion_errorloc' class="help-inline error" >{{ form_errors(form.observacion) }}</div>
  
</div>
</div>

<div class="control-group">

{{ form_label(form.email,"Email", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.email, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_sucursal_email_errorloc' class="help-inline error" >{{ form_errors(form.email) }}</div>
  
</div>
</div>

<div class="control-group">

{{ form_label(form.telefono,"Teléfono", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.celular, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_sucursal_telefono_errorloc' class="help-inline error" >{{ form_errors(form.telefono) }}</div>
  
</div>
</div>

<div class="control-group">

{{ form_label(form.codigo,"Código Interno", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.codigo, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_cliente_codigo_errorloc' class="help-inline error" >{{ form_errors(form.codigo) }}</div>
  
</div>
</div>