<div class="control-group">

{{ form_label(form.nombre,"Nombre", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.nombre, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_sucursal_nombre_errorloc' class="help-inline error" >{{ form_errors(form.nombre) }}</div>
  
</div>
</div>

<div class="control-group">

{{ form_label(form.responsable,"Responsable", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.responsable, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_sucursal_responsable_errorloc' class="help-inline error" >{{ form_errors(form.responsable) }}</div>
  
</div>
</div>

<div class="control-group">

{{ form_label(form.calle,"Calle", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.calle, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_sucursal_calle_errorloc' class="help-inline error" >{{ form_errors(form.calle) }}</div>
  
</div>
</div>

<div class="control-group">

{{ form_label(form.numero,"Número", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.numero, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_sucursal_numero_errorloc' class="help-inline error" >{{ form_errors(form.numero) }}</div>
  
</div>
</div>

<div class="control-group">

{{ form_label(form.piso,"Piso", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.piso, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_sucursal_piso_errorloc' class="help-inline error" >{{ form_errors(form.piso) }}</div>
  
</div>
</div>

<div class="control-group">

{{ form_label(form.cp,"Código Postal", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.cp, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_sucursal_cp_errorloc' class="help-inline error" >{{ form_errors(form.cp) }}</div>
  
</div>
</div>

<div class="control-group">

{{ form_label(form.email,"Email", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.email, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_sucursal_email_errorloc' class="help-inline error" >{{ form_errors(form.email) }}</div>
 
</div>
</div>

<div class="control-group">

{{ form_label(form.telefono,"Teléfono", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.telefono, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_sucursal_telefono_errorloc' class="help-inline error" >{{ form_errors(form.telefono) }}</div>
  
</div>
</div>

<div class="control-group">

{{ form_label(form.fax,"Fax", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.fax, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_sucursal_fax_errorloc' class="help-inline error" >{{ form_errors(form.fax) }}</div>
  
</div>
</div>
