<div class="control-group">

{{ form_label(form.name,"Nombre", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.name, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_deposito_name_errorloc' class="help-inline error" >{{ form_errors(form.name) }}</div>
  
</div>
</div>

<div class="control-group">

{{ form_label(form.direccion,"Dirección", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.direccion, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_deposito_direccion_errorloc' class="help-inline error" >{{ form_errors(form.direccion) }}</div>
  
</div>
</div>

<div class="control-group">

{{ form_label(form.lat,"Latitud", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.lat, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_deposito_lat_errorloc' class="help-inline error" >{{ form_errors(form.lat) }}</div>
  
</div>
</div>

<div class="control-group">

{{ form_label(form.lng,"Longitud", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.lng, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_deposito_lng_errorloc' class="help-inline error" >{{ form_errors(form.lng) }}</div>
  
</div>
</div>

<div class="control-group">

{{ form_label(form.observacion,"Obervación", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.observacion, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_deposito_observacion_errorloc' class="help-inline error" >{{ form_errors(form.observacion) }}</div>
  
</div>
</div>

<div class="control-group">

{{ form_label(form.cliente,"Cliente", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.cliente, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_deposito_cliente_errorloc' class="help-inline error" >{{ form_errors(form.cliente) }}</div>
  
</div>
</div>



