<div class="control-group">
{{ form_label(form.tipo,"Tipo", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.tipo, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_ordenIngreso_tipo_errorloc' class="help-inline error" >{{ form_errors(form.tipo) }}</div>
</div>
</div>

<div class="control-group">
{{ form_label(form.operador,"Operador Logistico", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.operador, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_ordenIngreso_operador_errorloc' class="help-inline error" >{{ form_errors(form.operador) }}</div>
</div>
</div>

<div class="control-group">
{{ form_label(form.cliente,"Cliente", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.cliente, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_ordenIngreso_cliente_errorloc' class="help-inline error" >{{ form_errors(form.cliente) }}</div>
</div>
</div>

<div class="control-group">
{{ form_label(form.documento,"Documento", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.documento, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_ordenIngreso_documento_errorloc' class="help-inline error" >{{ form_errors(form.documento) }}</div>
</div>
</div>

<div class="control-group">
{{ form_label(form.observaciones,"Observaciones", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.observaciones, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_ordenIngreso_observaciones_errorloc' class="help-inline error" >{{ form_errors(form.observaciones) }}</div>
</div>
</div>

