<div class="nav-collapse collapse">
                {% if not is_granted('ROLE_VISITOR') %}
                
                <ul class="nav">
                    {% if is_granted('ROLE_VIEWUSER') %}
                    <li><a href="{{ path('user') }}">Usuarios</a></li>
                    {% endif %}
                    
                    {% if  is_granted('ROLE_SETEO') or is_granted('ROLE_ADMIN') %}
                    <li class="dropdown">           <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configuración<b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('group') }}">Accesos</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_SETEO') %}
                            <li class="divider"></li>
                            <li><a href="{{ path('seteo') }}">Seteos</a></li>
                        {% endif %}
                      </ul>
                    </li>
                    {% endif %}
                    
                    {% if  is_granted('ROLE_VIEWCLIENTE') %}
                    
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Entidades<b class="caret"></b></a>
                      <ul class="dropdown-menu" >
                       {% if is_granted('ROLE_VIEWCLIENTE') %}
                       <li> <a href="{{ path('cliente') }}"> Clientes</a> </li>
                       <li class="divider"></li>
                       {% endif %}
                       {% if is_granted('ROLE_VIEWSUCURSAL') %}
                       <li> <a href="{{ path('sucursal') }}"> Sucursales</a> </li>
                       <li class="divider"></li>
                       {% endif %}
                      </ul>
                      
                    </li> 
                      {% endif %}
                </ul>
              {% endif %}  
                
             {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                
                <ul class="nav pull-right">
                   
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.username }}  <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('profile') }}">Perfil</a></li>
                            
                            <li class="divider"></li>
                            <li><a href="{{ path('logout') }}">Salir</a></li>
                        </ul>
                    </li>
                </ul>
                {% endif %}    
              
             
            </div><!--/.nav-collapse -->
