<div class="control-group">

{{ form_label(form.code,"Código", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.code, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_tipoviaje_code_errorloc' class="help-inline error" >{{ form_errors(form.code) }}</div>
  
</div>
</div>

<div class="control-group">

{{ form_label(form.texto,"Descripción", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.texto, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_tipoviaje_texto_errorloc' class="help-inline error" >{{ form_errors(form.texto) }}</div>
  
</div>
</div>

