<div class="control-group" id="list_tipo">
{{ form_label(form.tipo,"Tipo", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.tipo, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_caja_tipo_errorloc' class="help-inline error" >{{ form_errors(form.tipo) }}</div>

</div>
</div>

<div class="control-group">

{{ form_label(form.chofer,"Chofer", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.chofer, { 'attr': {'class': 'input-xlarge', 'data-url':  path ('viaje_chofer')} }) }}
 <div id='backend_adminbundle_caja_chofer_errorloc' class="help-inline error" >{{ form_errors(form.chofer) }}</div>
  
</div>
</div>

<div class="control-group">

{{ form_label(form.viaje,"Viaje", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.viaje, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_caja_viaje_errorloc' class="help-inline error" >{{ form_errors(form.viaje) }}</div>
  
</div>
</div>


<div class="control-group">

{{ form_label(form.monto,"Monto", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.monto, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_caja_monto_errorloc' class="help-inline error" >{{ form_errors(form.monto) }}</div>
  
</div>
</div>


<div class="control-group">

{{ form_label(form.motivo,"Motivo", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.motivo, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_movimiento_caja_errorloc' class="help-inline error" >{{ form_errors(form.motivo) }}</div>
  
</div>
</div>


