{% extends '::backend.html.twig' %}

{% block container %}
    
    
        <h4>Listado de Caja de Empleados </h4>

<div class="row-fluid">
  
  
  <div class="span2">  {% if is_granted("ROLE_ADDCAJAEMPLEADO") %} <button class="btn btn-primary" type="button" id="new_button" data-url="{{ path('caja_new') }}" >Nuevo Movimiento</button> {% endif %} </div>
  
    <div class="span9">
     
    <form id="custom-search-form" method="get" class="form-search form-horizontal pull-left" action="{{ path('caja_empleado') }}">
       <div id="error"></div>
      <div class="controls form-inline">
           <div class="input-append"  id="fecha_desde">
          <input type="text"  id="search-date_desde" data-format="dd-MM-yyyy" name="date_desde" class=" input-small" placeholder="Desde" value="{% if search.date_desde != '' %}{{ search.date_desde|date('d-m-Y') }} {% endif %}">
          <span class="add-on">
             <i class="icon-calendar"></i>
          </span>
          </div>
          <div class="input-append" id="fecha_hasta" >
          <input type="text" id="search-date_hasta" data-format="dd-MM-yyyy" name="date_hasta" class=" input-small" placeholder="Hasta" value="{% if search.date_hasta != '' %}{{ search.date_hasta|date('d-m-Y') }} {% endif %}">
          <span class="add-on">
             <i class="icon-calendar"></i>
          </span>
          </div>
          <input type="text" id="search-chofer" name="chofer" class="input-small" placeholder="Chofer" value="{{ search.chofer }}">
          <input type="text" id="search-viaje" name="viaje" class="input-small" placeholder="Viaje" value="{{ search.viaje }}">
          <input type="text" id="search-monto" name="monto" class="input-small" placeholder="Monto" value="{{ search.monto }}">
       </div>
       <br>
       <div class="controls form-inline">   
          <label>
          <input type="checkbox" id="clear-filter" name="clear-filter" value="1">Quitar Filtros
          </label>
          <button type="submit" id="search-reporte-button" class="btn" ><i class="icon-search"></i></button>
      </div>
      
      </form>
    
    
    
    </div>
      <div class="span1">
          {% if is_granted("ROLE_CAJAEMPLEADO") %} <button class="btn btn-primary" type="button" id="exportar_button" data-url="{{ path('caja_exportar') }}" >Exportar </button> {% endif %}
    </div>
  
    
 </div>
    
    
    
    
    <div class="well">
    <table class="table">
    <thead>
    <tr>
    
    <th {% if pagination.isSorted('c.lastname') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Chofer', 'c.lastname') }}</th>
    <th {% if pagination.isSorted('u.fecha') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Fecha', 'u.fecha') }}</th>
    <th {% if pagination.isSorted('v.id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Viaje', 'v.id') }}</th>
    <th {% if pagination.isSorted('u.monto') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Monto', 'u.monto') }}</th>
    <th {% if pagination.isSorted('u.tipo') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Tipo', 'u.tipo') }}</th>
    <th {% if pagination.isSorted('u.motivo') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Motivo', 'u.motivo') }}</th>
    <th style="width: 36px;">Acciones</th>
    </tr>
    </thead>
    <tbody>
     {% for caja in pagination %}
     <tr>
                <td>{{ caja.getChofer|capitalize }}</td>
                <td>{{ caja.fecha |date('d-m-Y H:i') }}</td>
                <td>{% if caja.getViaje %}
                   <a href="{{ path('viaje_rendir', { 'id': caja.getViaje.getId }) }}">{{ caja.getViaje }}</a>
                   {% endif %}
                   </td>
                <td>{{ caja.monto }}</td>
                <td>{% if  caja.tipo == 'r' or caja.tipo == 't' %}
                  <span class="label label-success">Reintegro</span>
                  {% else %} <!-- e de eficiencia tmb es descuento -->
                  <span class="label label-important">Descuento</span>
                  {% endif %}
                </td>
                <td>{{ caja.motivo }}</td>
                <td>
                {% if is_granted("ROLE_MODCAJAEMPLEADO") %}
                <a href="{{ path('caja_edit', { 'id': caja.id }) }}"><i class="icon-pencil"></i></a>
                {% endif %}
                 {% if is_granted("ROLE_DELCAJAEMPLEADO") %}
                <a href="#myModal" role="button" class="confirm-delete" data-toggle="modal" data-id={{ caja.id }} ><i class="icon-remove"></i></a>
                 {% endif %}
                </td>
    </tr>
    
    {% endfor %}
   
    </tbody>
    </table>
    </div>
    
    <div class="pagination">
     {{ knp_pagination_render(pagination) }}
    
    </div>
    
    <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Confirmar Borrado</h3>
     </div>
     <div class="modal-body">
       <p class="error-text">Esta seguro que desea borrar los datos del movimiento?</p>
     </div>
     <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
      <button class="btn btn-danger " data-id="0"  data-url="{{ path('caja_delete', { 'id': 'id' }) }}">Borrar</button>
     </div>
    </div>
    
    
    <form action="" id="delete-form" method="post" {{ form_enctype(delete_form) }}>
    {{ form_widget(delete_form) }}
    <input type="hidden" value="DELETE" name="_method">
    
    </form>
    
    
    {% endblock %}
  {% block javascripts %}
  {{ parent() }}
 <script src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>
   <script src="{{ asset('js/locales/bootstrap-datetimepicker.es.js') }}"></script> 
{% javascripts '@BackendAdminBundle/Resources/public/js/caja_empleado.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% javascripts '@BackendAdminBundle/Resources/public/js/search_cajaempleado.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% javascripts '@BackendAdminBundle/Resources/public/js/exportar_entidad.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}      
  
{% endblock %}


