<div class="control-group">
{{ form_label(form.name,"Nombre", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.name, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_modelo_name_errorloc' class="help-inline error" >{{ form_errors(form.name) }}</div>
</div>
</div>
<div class="control-group">
{{ form_label(form.nameManufacture,"Nombre Fábrica", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.nameManufacture, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_modelo_nameManufacture_errorloc' class="help-inline error" >{{ form_errors(form.nameManufacture) }}</div>
</div>
</div>
<div class="control-group">
{{ form_label(form.variante,"Variante", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.variante, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_modelo_variante_errorloc' class="help-inline error" >{{ form_errors(form.variante) }}</div>
</div>
</div>
<div class="control-group">
{{ form_label(form.marca,"Marca", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.marca, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_modelo_marca_errorloc' class="help-inline error" >{{ form_errors(form.marca) }}</div>
</div>
</div>


