{% extends '::backend.html.twig' %}

{% block container -%}
    <h3>Editar Modelo</h3>
    
    
    
    
    <div class="well">
    <div id="myTabContent" class="tab-content">
    <div class="tab-pane active in" id="home">
    <form class="form-horizontal" id="tab" method="post" novalidate  {{ form_enctype(form) }} action="{{ path('modelo_update', { 'id': entity.id }) }}" >
    <input type="hidden" name="_method" value="PUT" />
     {{ form_errors(form) }}
     
     
   
    
     {% include 'BackendAdminBundle:Modelo:_modelo.html.twig' %} 
        
    {{ form_rest(form) }}

    <div class="control-group">
    <!-- Button -->
    <div class="controls">
    <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i>Actualizar</button>
    <button type="button" class="btn btn-inverse" data-url="{{ path('modelo') }}" ><i class="icon-chevron-left icon-white"></i> Back</button>
    {% if is_granted("ROLE_DELMODELO") %}
  
    <a href="#myModal" class="btn btn-danger confirm-delete" role="button" data-toggle="modal" data-id="{{ entity.id }}" ><i class="icon-remove icon-white"></i>Borrar</a>
    
    {% endif %}
    
    </div>
    
    </div>
    
    </form>
    </div>
    
    </div>
     </div>
    
    <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Confirmar Borrado</h3>
     </div>
     <div class="modal-body">
       <p class="error-text">Esta seguro que desea borrar el modelo?</p>
     </div>
     <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
      <button class="btn btn-danger " data-id="0"  data-url="{{ path('modelo_delete', { 'id': 'id' }) }}" >Borrar</button>
     </div>
    </div>

<form action="" id="delete-form" method="post" {{ form_enctype(delete_form) }}>
    {{ form_widget(delete_form) }}
    <input type="hidden" value="DELETE" name="_method">
    
    </form>

    
{% endblock %}
{% block javascripts %}
  {{ parent() }}

{% javascripts '@BackendAdminBundle/Resources/public/js/validate_modelo.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
