

<div class="control-group">

<label for="backend_adminbundle_viaje_tipo_viaje" class="control-label ">Tipo de Viaje</label>
<div class="controls">
 <input type="text" readonly="true"  class="input-xlarge" name="tviaje" value="{{ entity.getTipoViaje }}">
</div>
</div>

<div class="control-group">
<label for="backend_adminbundle_viaje_tipo_viaje" class="control-label ">Depósito</label>
<div class="controls">
  <input type="text" readonly="true"  class="input-xlarge" name="deposito" value="{{ entity.getDeposito }}">
  <input type="hidden" name="backend_adminbundle_viaje_deposito" id="backend_adminbundle_viaje_deposito" value="{{ entity.getDeposito.getId }}" />   
</div>
</div>

 <div class="control-group">
 <label for="backend_adminbundle_viaje_tipo_viaje" class="control-label ">Cliente</label>
<div class="controls">
 <input type="text" readonly="true"  class="input-xlarge" name="cliente" value="{{ entity.getCliente }}">
 
 <input type="hidden" name="backend_adminbundle_viaje_cliente" id="backend_adminbundle_viaje_cliente" value="{{ entity.getCliente.getId }}" />  
</div>
</div>
<div class="control-group"> 
   <label for="backend_adminbundle_viaje_tipo_viaje" class="control-label ">Camión</label>
<div class="controls">
<input type="text" readonly="true"  class="input-xlarge" name="camion" value="{{ entity.getCamion }}"> 
  
</div>
</div>

<div class="control-group"> 
     <label for="backend_adminbundle_viaje_tipo_viaje" class="control-label ">Acoplado</label>
<div class="controls">
<input type="text" readonly="true"  class="input-xlarge" name="acoplado" value="{{ entity.getAcoplado}}"> 
  
</div>
</div>

<div class="control-group"> 
  <label for="backend_adminbundle_viaje_tipo_viaje" class="control-label ">Chofer</label>
<div class="controls">
<input type="text" readonly="true"  class="input-xlarge" name="chofer" value="{{ entity.getChofer}}">
  
</div>
</div>

<div class="control-group"> 
    <label for="backend_adminbundle_viaje_tipo_viaje" class="control-label ">Acompañante</label>
<div class="controls">
<input type="text" readonly="true"  class="input-xlarge" name="acoplado" value="{{ entity.getAcompaniante}}">  
</div>
</div>


<div class="control-group"> 
 <label  class="control-label">Estado</label>
<div class="controls">
<span
                {% if entity.getEstado.getCode == "BORRADOR" %}
                 class="label label-default" 
                {% elseif entity.getEstado.getCode == "PENDIENTE" %}
                 class="label label-info"                   
                {% elseif entity.getEstado.getCode == "RENDIDO" %}
                 class="label label-success"
                {% elseif entity.getEstado.getCode == "ANULADO" %}
                 class="label label-important"   
                {% endif %}
                >
                {{ entity.getEstado }}</span>
  
</div>
</div>

<div class="control-group"> 
  {{ form_label(form.km_camion,"Km Camión", { 'label_attr': {'class': 'control-label'} }) }}    
<div class="controls">
 {{ form_widget(form.km_camion, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_viaje_km_camion_errorloc' class="help-inline error" >{{ form_errors(form.km_camion) }}
 </div>
  
</div>
</div>

<div class="control-group"> 
  {{ form_label(form.efectivo,"Efectivo", { 'label_attr': {'class': 'control-label'} }) }}      
<div class="controls">
 {{ form_widget(form.efectivo, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_viaje_efectivo_errorloc' class="help-inline error" >{{ form_errors(form.efectivo) }}
 </div>
  
</div>
</div>


<div class="control-group"> 
  {{ form_label(form.fecha_salida,"Fecha de Salida", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 <div class="row-fluid">
 
 <div class="span3">
       <div class="input-append date" id="fecha_salida" >
       {{ form_widget(form.fecha_salida, { 'attr': {'class': 'input-small','data-format':'dd/MM/yyyy'} }) }}
       <span class="add-on">
<i class="icon-calendar"></i>
</span>
     </div>
       <div id='backend_adminbundle_viaje_fecha_salida_errorloc' class="help-inline error" >{{ form_errors(form.fecha_salida) }}
       </div>
 </div> 
 
 <div class="span9">
 {{ form_label(form.hora_salida,"Hora de Salida", { 'label_attr': {'class': 'control-label'} }) }}
 <div class="controls">
  <div id="hora_salida" class="input-append">
 {{ form_widget(form.hora_salida, { 'attr': {'class': 'input-small','data-format':'hh:mm'} }) }}
 <span class="add-on">
      <i class="icon-time" data-time-icon="icon-time" data-date-icon="icon-calendar"> </i>
    </span>
 </div>
 <div id='backend_adminbundle_viaje_hora_salida_errorloc' class="help-inline error" >{{ form_errors(form.hora_salida) }}
 </div>
 </div>
 </div>
  
 </div>
 </div>
 
</div>




<div class="control-group"> 
  {{ form_label(form.fecha_regreso,"Fecha de Regreso Estimada", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 <div class="row-fluid">
 
 <div class="span3">
 <div class="input-append date" id="fecha_regreso" >
       {{ form_widget(form.fecha_regreso, { 'attr': {'class': 'input-small','data-format':'dd/MM/yyyy'} }) }}
              <span class="add-on">
<i class="icon-calendar"></i>
</span>
</div>
       <div id='backend_adminbundle_viaje_fecha_regreso_errorloc' class="help-inline error" >{{ form_errors(form.fecha_regreso) }}
       </div>
 </div> 
 
 <div class="span9">
 {{ form_label(form.hora_regreso,"Hora de Regreso", { 'label_attr': {'class': 'control-label'} }) }}
 <div class="controls">
 <div id="hora_regreso" class="input-append">
 {{ form_widget(form.hora_regreso, { 'attr': {'class': 'input-small','data-format':'hh:mm'} }) }}
 <span class="add-on">
      <i class="icon-time"> </i>
    </span>
  </div>  
 <div id='backend_adminbundle_viaje_hora_regreso_errorloc' class="help-inline error" >{{ form_errors(form.hora_regreso) }}
 </div>
 </div>
 </div>
  
 </div>
 </div>
 
</div>

<div class="control-group"> 
  {{ form_label(form.incorpora_dinero,"Incorporación de Dinero", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.incorpora_dinero, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_viaje_incorpora_dinero_errorloc' class="help-inline error" >{{ form_errors(form.incorpora_dinero) }}
 </div>
  
</div>
</div>


<hr>
<h4>RENDICIÓN</h4>



<div class="control-group "> 

  <label class="control-label">Hoja de Ruta</label>
 <div class="controls span9">
      <div id="backend_adminbundle_hoja_ruta_errorloc" class="help-inline error"></div>
    {% set max_orden=0 %}
      
       <table id="hoja_ruta" name="hoja_ruta" class="table table-striped table-bordered table-condensed table-hover"  data-path_cliente={{ path('viaje_cliente') }}
                       data-path_deposito={{ path('viaje_deposito') }}  data-path_deposito_salida={{ path('viaje_deposito_salida') }} data-path_hoja_ruta={{ path("viaje_hoja_ruta",{ id: entity.id }) }} >
        <thead>
        <tr>
        <th style="width: 36px;">Orden</th>
        <th style="width: 150px;">Depósito Salida</th>
        <th style="width: 150px;">Cliente</th>
        <th style="width: 150px;">Depósito</th>
         <th style="width: 36px;">Nº Pedido</th>
        <th style="width: 36px;"><button class="button_simple" type="button" id="plus_first" ><i class="icon-plus"></i></button></th>
        </tr>
        </thead>
        <tbody>
       
       
        </tbody>
        </table>
     
 <input type="hidden" name="total_tr" id="total_tr" value="{{ max_orden }}" />
 <input type="hidden" name="del_tr" id="del_tr" value="" />
 </div>
  

</div>







<div class="control-group"> 
  {{ form_label(form.km_retorno,"Km de retorno", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.km_retorno, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_rendir_km_retorno_errorloc' class="help-inline error" >{{ form_errors(form.km_retorno) }}
 </div>
  
</div>
</div>


<div class="control-group"> 
  {{ form_label(form.consumido,"Combustible consumido", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.consumido, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_rendir_consumido_errorloc' class="help-inline error" >{{ form_errors(form.consumido) }}
 </div>
  
</div>
</div>

<div class="control-group"> 
  {{ form_label(form.efectivo_retornado,"Efectivo retornado", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.efectivo_retornado, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_rendir_efectivo_retornado_errorloc' class="help-inline error" >{{ form_errors(form.efectivo_retornado) }}
 </div>
  
</div>
</div>






<div class="control-group"> 
  {{ form_label(form.efectivo_regreso,"Efectivo viaje de regreso", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.efectivo_regreso, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_rendir_efectivo_regreso_errorloc' class="help-inline error" >{{ form_errors(form.efectivo_regreso) }}
 </div>
  
</div>
</div>


<div class="control-group"> 

  <label class="control-label">Costos</label>
 <div class="controls span9">
      
   {% set max_id=0 %}
      
       <table id="costos" class="table table-left table-striped table-bordered table-condensed table-hover" data-path_tipocosto="{{ path('tipo_costos') }}"  >
        <thead>
        <tr>
        <th >Tipo</th>
        <th >Concepto</th>
        <th >Recibo</th>
        <th >Monto</th>
        <th style="width: 36px;">OK</th>
        <th style="width: 36px;"><button class="button_simple" type="button" id="costo_first" ><i  class="icon-plus"></i></button></th>
        </tr>
        </thead>
        <tbody>
       {% for c in entity.getCostos %}
       {% if c.id > max_id %}
             {% set max_id = c.id %}
        {% endif %}  
          <tr id="tc{{ c.id }}">
           <td>
           <input type="hidden" name="costo{{c.id}}"  value="{{c.id}}" />
           <select class=" select-tipo " name="tipo{{ c.id }}" id="tipo{{ c.id }}" >
             {% for t in tipos %}
               <option  data-type="{% if t.isCc == true %}1{% else %}0{% endif %}" {% if t.id == c.tipo.getId %} selected="selected" {% endif %}   value="{{ t.id }}">{{ t.texto }}</option>
             {% endfor %}
           </select>
          
           </td>
           <td><input class='input-medium' type="text" id="concepto{{ c.id }}" name="concepto{{ c.id }}" value="{{ c.getConcepto }}" /></td>
           <td><input class='input-small' type="text" id="recibo{{ c.id }}" name="recibo{{ c.id }}" value="{{ c.getRecibo }}" /></td>
           <td><input class='input-small input-monto' type="text" id="monto{{ c.id }}" name="monto{{ c.id }}" value="{{ c.getMonto }}" /></td>
           <td>
           
            <input type="checkbox" class="input-aprobado"  {% if c.getIsAprobado %} checked="checked" {% endif %} name="aprobado{{ c.id }}" value="1" id="aprobado{{ c.id }}" />
           </td>
           <td> <i class='icon-minus menos_costo' data-base="{{ c.id }}" data-nro='{{ c.id }}'></i></td>
          </tr>
       {% endfor %}
        
        </tbody>
        </table>
     
 <input type="hidden" name="total_tc" id="total_tc" value="{{ max_id }}" />
 <input type="hidden" name="del_tc" id="del_tc" value="" />
 </div>
  

</div>
  
  
 <div class="control-group"> 
  {{ form_label(form.efectivo_reintegro,"Reintegro en efectivo", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">

 {{ form_widget(form.efectivo_reintegro, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_rendir_efectivo_reintegro_errorloc' class="help-inline error" >{{ form_errors(form.efectivo_reintegro) }} </div>
 
</div>
</div>

<div class="control-group"> 
  {{ form_label(form.efectivo_caja,"Reintegro por caja", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">

 {{ form_widget(form.efectivo_caja, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_rendir_efectivo_reintegro_errorloc' class="help-inline error" >{{ form_errors(form.efectivo_caja) }} </div>
   
</div>
</div>



<div class="control-group"> 
  {{ form_label(form.saldo,"Saldo", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.saldo, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_rendir_saldo_errorloc' class="help-inline error" >{{ form_errors(form.saldo) }} </div>
</div>
</div>

<div class="control-group"> 
  {{ form_label(form.has_exception,"Tuvo Excepción", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.has_exception, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_rendir_has_exception_errorloc' class="help-inline error" >{{ form_errors(form.has_exception) }} </div>
</div>
</div>

<div class="control-group"> 
  {{ form_label(form.observacion,"Observación", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.observacion, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_viaje_observacion_errorloc' class="help-inline error" >{{ form_errors(form.observacion) }}
 </div>
  
</div>
</div>

<input type="hidden" id="backend_adminbundle_rendir_validar" name="validar" value="{% if (is_granted('ROLE_ADMIN')) %}0{% else %}1{% endif %} " />