{% extends '::backend.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
   <link rel="stylesheet" href="{{ asset('css/bootstrap-datetimepicker.min.css') }}"  >
   <link rel="stylesheet" href="{{ asset('css/select2.css') }}"  >
   {% stylesheets '@BackendAdminBundle/Resources/public/css/viaje.css' %}   
     <link rel="stylesheet" href="{{ asset_url }}"  >
   {% endstylesheets %}
{% endblock %}
{% block container -%}

{% set active=2 %}
{% include 'BackendAdminBundle:Viaje:menu_viaje.html.twig' %}
 



    <div class="well">
    <div id="myTabContent" class="tab-content">
    <div class="tab-pane active in" id="home">
    <form class="form-horizontal" data-valid_url="{{ path('viaje_validate' ) }}" id="tabviaje" name="tabviaje" method="post" novalidate="true"    action="{{ path('viaje_new') }}" >
     {{ form_errors(form) }}
   

    
    {% include 'BackendAdminBundle:Viaje:_viaje.html.twig' %} 

    
    {{ form_rest(form) }}

    <div class="control-group">
    <!-- Button -->
    <div class="controls">

    <button type="submit" name="action" value="borrador" class="btn "><i class="icon-white "></i>Borrador</button>
    <button type="submit" name="action" value="confirmar"  class="btn btn-primary "><i class="icon-white"></i>Confirmar</button>
    
<button type="button" class="btn btn-inverse" data-url="{{ path('viaje') }}" ><i class="icon-chevron-left icon-white"></i> Cancelar</button>

    </div> <!-- controls -->
    
     </div> <!-- control-group -->
    </form>
   
    
    </div>
    </div>
    </div>

   <div class="modal small hide " style="width: 80px; text-align: center;" id="myLoading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
     
     <div class="modal-body">
       <p class="error-text"> <img src="{{ asset("img/loading.gif") }}"  width="32" height="32" /></p>
     </div>
    
    </div>
   
    <div class="modal small hide " style="width: 80px; text-align: center;" id="myModalLoading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
     
     <div class="modal-body">
       <p class="error-text"> <img src="{{ asset("img/loading.gif") }}"  width="32" height="32" /></p>
     </div>
    
    </div>
   
    
    
    

       
{% endblock %}
{% block javascripts %}
  {{ parent() }}
   <script src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>
   <script src="{{ asset('js/locales/bootstrap-datetimepicker.es.js') }}"></script>
   <script src="{{ asset('js/selectbox/select2.js') }}"></script>
   <script src="{{ asset('js/selectbox/select2_locale_es.js') }}"></script>
{% javascripts '@BackendAdminBundle/Resources/public/js/validate_viaje.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% javascripts '@BackendAdminBundle/Resources/public/js/viaje.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
