{% extends '::backend.html.twig' %}

{% block container %}
  {% set active=1 %}
  {% include 'BackendAdminBundle:Viaje:menu_viaje.html.twig' %}
  
  
   <div class="well">  
    
        <h4>Listado de Viajes Pendientes</h4>

<div class="row-fluid">
  
 
  
    <div class="span3">
     
    <form id="custom-search-form" class="form-search form-horizontal pull-right" action="#">
      <div class="input-append span12">
      <input type="text" class="search-query" id="search-query" placeholder="Buscar" value="{{ search }}">
      <button type="button" id="search-button" class="btn" data-url="{{ path('viaje_pendientes') }}" ><i class="icon-search"></i></button>
      </div>
      </form>
    
    
    
    </div>
    
  
    
 </div>
    
    
    <div class="well">
    <table class="table">
    <thead>
    <tr>
    <th>Nº</th>
    <th {% if pagination.isSorted('u.fecha_salida') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Fecha Salida', 'u.fecha_salida') }}</th>
    <th {% if pagination.isSorted('c.patente') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Camión', 'c.patente') }}</th>
    <th {% if pagination.isSorted('h.lastname') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Chofer', 'h.lastname') }}</th>
    <th {% if pagination.isSorted('d.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Depósito', 'd.name') }}</th>
    <th {% if pagination.isSorted('u.fecha_regreso') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Fecha Regreso', 'u.fecha_regreso') }}</th>
    <th {% if pagination.isSorted('u.fecha_regreso') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Rendición', 'u.fecha_regreso') }}</th>
    <th style="width: 36px;">Acciones</th>
    </tr>
    </thead>
    <tbody>
     {% for viaje in pagination %}
   
    
     <tr>
                <td>{{ viaje.getId }}</td>
                <td>{{ viaje.getFechaSalida |date('d-m-Y') }}  </td>
                <td>{{ viaje.camion }}</td>
                <td>{{ viaje.chofer }}</td>
                <td>{{ viaje.deposito }}</td>
                <td> {{ viaje.getFechaRegreso |date('d-m-Y') }}  {{ viaje.getHoraRegreso |date('H:i') }}</td>
                <td>
                {% set fecha = [viaje.getFechaRegreso|date('d-m-Y'),viaje.getHoraRegreso|date('H:i')]|join(',') %}
               
                {% if date( fecha  ) < date()  %}
                <span class="label label-warning">Demorada</span>
                {% endif %}
                </td>
                <td>
                 {% if is_granted("ROLE_MODVIAJE") %}
                <a href="{{ path('viaje_edit', { 'id': viaje.id }) }}"><i class="icon-pencil"></i></a>
                 {% endif %}
                </td>
    </tr>
    
    {% endfor %}
   
    </tbody>
    </table>
    </div>
    
    <div class="pagination">
     {{ knp_pagination_render(pagination) }}
    
    </div>
    
  </div>
    
    
    {% endblock %}
  {% block javascripts %}
  {{ parent() }}
 
{% javascripts '@BackendAdminBundle/Resources/public/js/search_index.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
  
  
{% endblock %}
