<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style>
    body{
     font-size: 10px;
    }
   #title{
    margin-left: 400px;
    border: 1px solid;
    text-align: center;
    width: 300px;
    
    background-color: #000;
   }
   .back_black{
    background-color: #000;
    color: #fff;
    padding: 4px;
   }
   .bottom_title{
    background-color: #fff;
     padding: 4px;
   }
  
   .title_planilla{
   
    background-color: #000;
    color: #fff;
    padding: 4px;
    font-weight: bold;
  
   }
   .title_ech{
    
    font-weight: bold;
    margin-left: 50px;  
   
   }
   .black_font{
    font-weight: bold;
    color: #000;
    font-size: 10px;
   }
   .little_font{
    font-size: 10px;
   }
   .table_planilla{
    width: 500px;
    clear: both;
    margin-top: 10px;
   }
   .separador{
   
   background-color: #000; 
   color: #fff; 
   font-weight: bold; 
   text-align: center;
   }
      table
{
border-collapse:collapse;
font-size: 10px;
}
  table, th, td
{
border: 1px solid black;
}
  
   
  </style>
</head>
<body>

<div id="title">
<div class="back_black">VIAJE Nº</div> 
<div class="bottom_title">ECH -  {{ entity.id }}</div> 
</div>
{% set efvo_entregado= entity.getEfectivo + entity.getIncorporaDinero %}

<p>Fecha: {{ "now"|date('d/m/Y') }}</p>
<p>RECIBO $ {{ efvo_entregado }}  DE {{ entity.getCreatedBy.getLastname }}, {{ entity.getCreatedBy.getName }}</p>
<br/><br/>
<p>FIRMA CHOFER _________________           FIRMA ENCARGADO ___________________ </p>

<br> </br>


<div >
 Fecha: {{ "now"|date('d/m/Y') }} &nbsp;&nbsp;&nbsp;
 <span class="title_planilla">HOJA DE RUTA </span> 
 <span class="title_ech">ECH -  {{ entity.id }}</span> 
</div>

<div class="table_planilla">

  <table>
    <tr>
     <td >ORDEN</td>
     <td>DEPOSITO SALIDA</td>
     <td colspan="3">CLIENTE</td>
     <td colspan="1">DESTINO</td>
     <td colspan="1">Nº Pedido</td>
    </tr>
  
    {% for d in entity.getDestinos %}
    <tr>
    <td>{{ d.getOrden }} </td>
    <td> {{ d.getDepositoSalida }}</td>
    <td colspan="3">{{ d.getCliente }}</td>
    <td colspan="1">{{ d.getDeposito }}</td>
    <td colspan="1">{{ d.getNumero }} </td> 
    </tr>
    {% endfor %}
  
    <tr>
    <td >CHOFER</td>
    <td colspan="3" >{{ entity.getChofer }}</td>
    <td>CARGA EN</td>
    <td colspan="2">{{ entity.getDeposito }}</td>
    
    </tr>
    <tr>
    <td>PATENTE</td>
    <td colspan="3">{{ entity.getCamion }} | Int: {{ entity.getCamion.getInterno }}</td>
    <td>TIPO DE VIAJE</td>
     <td colspan="2">{{ entity.getTipoViaje }} </td>
    </tr>
    <tr>
    <td>HORA SALIDA</td>
    <td colspan="3">{{  entity.getFechaSalida|date('d/m/Y') }} {{  entity.getHoraSalida|date('H:i') }}</td>
    <td>HORA LLEGADA</td>
    <td colspan="2"> {{ entity.getFechaRegreso|date('d/m/Y') }} {{ entity.getHoraRegreso|date('H:i') }}  </td>
    </tr>
    <tr>
     <td>ENTREGA EFVO</td>
     <td colspan="3"> {{ entity.getEfectivo }}</td>
     <td>RESPONSABLE</td>
     <td colspan="2">{{ entity.getCreatedBy }}</td>
    </tr>
    <tr>
     <td>INCORPORACION DE DINERO</td>
    <td colspan="3">{{ entity.getIncorporaDinero }}</td>
     <td>RESPONSABLE</td>
     <td colspan="2"></td>
    </tr>
    <tr>
    <td class="separador"> GASOIL</td>
    <td colspan="6">
      <table style="font-size: 10px;">
      <tr>
      <td>TANQUE LLENO</td>
      <td >&nbsp; </td>
      <td>  CARGA</td> 
      <td>  SI</td>
      <td>&nbsp; </td>
      <td> NO</td>
      <td> &nbsp; </td>
      <td>  CAPACIDAD TANQUE {{ entity.getCamion.getMaxTanque }}  </td>
      </tr>
      </table>
    </td>
    </tr>

  </table>



</div>





</body>
</html>