<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style>
    body{
     font-size: 10px;
    }
   #title{
    margin-left: 400px;
    border: 1px solid;
    text-align: center;
    width: 300px;
    
    background-color: #000;
   }
   .back_black{
    background-color: #000;
    color: #fff;
    padding: 4px;
   }
   .bottom_title{
    background-color: #fff;
     padding: 4px;
   }
  
   .title_planilla{
   
    background-color: #000;
    color: #fff;
    padding: 4px;
    font-weight: bold;
  
   }
   .title_ech{
    
    font-weight: bold;
    margin-left: 50px;  
   
   }
   .black_font{
    font-weight: bold;
    color: #000;
    font-size: 10px;
   }
   .little_font{
    font-size: 10px;
   }
   .table_planilla{
    width: 500px;
    clear: both;
    margin-top: 10px;
   }
   .separador{
   
   background-color: #000; 
   color: #fff; 
   font-weight: bold; 
   text-align: center;
   }
      table
{
border-collapse:collapse;
font-size: 10px;
}
  table, th, td
{
border: 1px solid black;
}
  
   
  </style>
</head>
<body>

<div id="title">
<div class="back_black">RENDICION Nº</div> 
<div class="bottom_title">ECH -  {{ entity.id }}</div> 
</div>
{% set efvo_entregado= entity.getEfectivo + entity.getIncorporaDinero %}

<p>Fecha: {{ "now"|date('d/m/Y') }}</p>
<p>RECIBO $ {{ efvo_entregado }}  DE {{ entity.getCreatedBy.getLastname }}, {{ entity.getCreatedBy.getName }} </p>
<br/><br/>



<div >
 Fecha: {{ "now"|date('d/m/Y') }} &nbsp;&nbsp;&nbsp;
 <span class="title_planilla">PLANILLA DE CAJA DE CHOFERES</span> 
 <span class="title_ech">ECH -  {{ entity.id }}</span> 
</div>

<div class="table_planilla">

  <table>
    <tr>
     <td >ORDEN</td>
     <td> DEPOSITO SALIDA</td>
     <td colspan="2">CLIENTE</td>
     <td colspan="2">DESTINO</td>
     <td >Nº Pedido</td>
    </tr>
  
    {% for d in entity.getDestinos %}
    <tr>
    <td>{{ d.getOrden }} </td>
     <td>{{ d.getDepositoSalida }}</td>
    <td colspan="2">{{ d.getCliente }}</td>
    <td colspan="2">{{ d.getDeposito }}</td>
     <td>{{ d.getNumero }} </td> 
    </tr>
    {% endfor %}
    <tr>
    <td colspan="7"  class="separador">
      DATOS DEL VIAJE
    </td>
    </tr>
    <tr>
    <td >CHOFER</td>
    <td colspan="3" >{{ entity.getChofer }}</td>
    <td>CARGA EN</td>
    <td colspan="2">{{ entity.getDeposito }}</td>
    
    </tr>
    <tr>
    <td>PATENTE</td>
    <td colspan="3">{{ entity.getCamion }} | Int: {{ entity.getCamion.getInterno }}</td>
    <td>TIPO DE VIAJE</td>
     <td colspan="2"> {{ entity.getTipoViaje }} </td>
    </tr>
    <tr>
    <td>HORA SALIDA</td>
    <td colspan="3">{{  entity.getFechaSalida|date('d/m/Y') }} {{  entity.getHoraSalida|date('H:i') }}</td>
    <td>HORA LLEGADA</td>
    <td colspan="2"> {{ entity.getFechaRegreso|date('d/m/Y') }} {{ entity.getHoraRegreso|date('H:i') }}  </td>
    </tr>
    
    <tr>
    <td > </td>
    <td colspan="6">
      <table style="font-size: 10px;">
      <tr>
      <td>TANQUE LLENO</td>
      <td >&nbsp; </td>
      <td>  CARGA</td> 
      <td>  SI</td>
      <td>&nbsp; </td>
      <td> NO</td>
      <td> &nbsp; </td>
      <td>  CAPACIDAD TANQUE {{ entity.getCamion.getMaxTanque }}  </td>
      </tr>
      </table>
    </td>
    </tr>

    <tr>
    <td colspan="7"  class="separador">
      RENDICION DE GASTOS
    </td>
    </tr>
    <tr>
    <td>DETALLE</td>
    <td colspan="2">IMPORTE</td>
    <td colspan="2">COMPROBANTE</td>
    <td>CONCEPTO</td>
    <td>APROBADO</td>
    </tr>
    {% set no_aprobado=0 %}
    {% set gastos = 0 %}
     {% for c in entity.getCostos %}
   <tr>
    <td> {{ c.getTipo }}</td>
     <td  colspan="2"> {{ c.getMonto }}
         {% if c.getTipo.getIsCc == 0 %} <!-- solo lo suma si no es CC -->
         {% set gastos= gastos + c.getMonto %}
         {% endif %}
      </td>
    <td  colspan="2"> {{ c.getRecibo }}</td>
    <td> {{ c.getConcepto }}</td>
    <td>  {% if c.getIsAprobado  %} SI 
          
          {% else %} 
          NO                <!-- llevo el total de no aprobados siempre que no sean CC -->
            {% if c.getTipo.getIsCc == 0 %}
              {% set no_aprobado = no_aprobado + c.getMonto %}
            {% endif %}  
          {% endif %} </td>
   </tr>
 {% endfor %}
 
  <tr>
    <td colspan="7"  class="separador">
      SALDOS
    </td>
    </tr>
   <tr>
     <td>EFECTIVO RECIBIDO</td>
     <td colspan="6"> {{ entity.getEfectivo }}</td>
     
    </tr>
    <tr>
     <td>INCORPORACION DE DINERO</td>
    <td colspan="6"> {{ entity.getIncorporaDinero }}</td>
     <
    </tr>
    <tr>
    <td>EFECTIVO RETORNADO</td>
    <td colspan="6"> {{ entity.getEfectivoRetornado }} </td>
     
    </tr>
     <tr>
     <td>COSTOS EN EFECTIVO</td>
    <td colspan="6"> {% set total_aprobados = gastos - no_aprobado %} {{ gastos }}</td>
    </tr>

    <tr>
    <td>EFECTIVO REINTEGRO</td>
    <td colspan="6"> {{ entity.getEfectivoReintegro }}</td>
    </tr>

    <tr>  
     <td>SALDO  </td>
    <td colspan="6"> {{ entity.getSaldo }}</td>
    </tr>
    
    <tr>
     <td>VIAJE REGRESO</td>
    <td colspan="6"> {{ entity.getEfectivoRegreso }}</td>
    </tr>
    
  </table>

  

</div>

<br>
<br>


<div id="title">
<div class="back_black">RENDICION Nº</div> 
<div class="bottom_title">ECH -  {{ entity.id }}</div> 
</div>
 {% set vale =   entity.getEfectivoReintegro - gastos   %}

<p>Fecha: {{ "now"|date('d/m/Y') }}</p>
                                               
<p>IMPORTE RENDIDO $  {{ efvo_entregado }}</p>

<p>RENDICION RECIBIDA $ {% set rendicion = entity.getEfectivoRetornado + gastos %} {{ rendicion }} </p>

<p> EFECTIVO A REINTEGRAR $ {{ entity.getEfectivoReintegro }}

<p>SALDO A DESCONTAR $ {{ entity.getSaldo }} </p>


<br>
<p>FIRMA CHOFER ____________________           FIRMA ENCARGADO ________________ </p>





</body>
</html>