{% extends '::backend.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
   <link rel="stylesheet" href="{{ asset('css/datepicker.css') }}"  >
   <link rel="stylesheet" href="{{ asset('css/select2.css') }}"  >
   <link rel="stylesheet" href="{{ asset('js/shadowbox/shadowbox.css') }}"  >
   {% stylesheets '@BackendAdminBundle/Resources/public/css/viaje.css' %}   
     <link rel="stylesheet" href="{{ asset_url }}"  >
   {% endstylesheets %}
   
    
{% endblock %}
{% block container -%}


{% set active=2 %}
{% include 'BackendAdminBundle:Viaje:menu_viaje.html.twig' %}
 



    <div class="well">
    <div id="myTabContent" class="tab-content">
    <div class="tab-pane active in" id="home">
    <form class="form-horizontal" id="tabRendir" data-valid_url="{{ path('viaje_validate_rendir',{ id: entity.id }) }}" name="tabRendir" method="post" novalidate="true"    action="{{ path("viaje_saverendir",{ id:entity.id }) }}" >
     {{ form_errors(form) }}
   

    
    {% include 'BackendAdminBundle:Viaje:_rendir.html.twig' %} 

    
    {{ form_rest(form) }}

    <div class="control-group">
    <!-- Button -->
    <div class="controls">
    
   
    
    <!-- solo el admin puede modificar una vez que esta rendido el viaje -->
    {% if entity.getEstado.code == 'PENDIENTE' or (entity.getEstado.code == 'RENDIDO' and is_granted('ROLE_ADMIN')) %}
    <button type="submit" name="action" value="confirmar" class="btn btn-success"><i class="icon-white"></i>Confirmar</button>
     {% endif %}
     {% if is_granted('ROLE_ADMIN') %}
     <button type="submit" name="action" value="anular" class="btn btn-danger"><i class=" icon-white"></i> Anular</button>
    {% endif %}
    {% if entity.getEstado.code == 'RENDIDO' %}
      <a href="{{ path('rendicion_print',{ id: entity.id }) }}" class="btn "> <i class="icon-white"></i> Imprimir</a>
    {% endif %}
                                                                                             
<button type="button" class="btn btn-inverse" data-url="{{ path('viaje') }}" ><i class="icon-chevron-left icon-white"></i> Cancelar</button>
    
    </div> <!-- controls -->
    
     </div> <!-- control-group -->
    </form>
   
    
    </div>
    </div>
    </div>

      
   
    <div class="modal small hide " style="width: 80px; text-align: center;" id="myModalLoading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
     
     <div class="modal-body">
       <p class="error-text"> <img src="{{ asset("img/loading.gif") }}"  width="32" height="32" /></p>
     </div>
    
    </div>
   
    <div class="modal small hide " style="width: 80px; text-align: center;" id="myLoading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
     
     <div class="modal-body">
       <p class="error-text"> <img src="{{ asset("img/loading.gif") }}"  width="32" height="32" /></p>
     </div>
    
    </div>
    
    
      <div class="modal small hide fade" id="myModalEficiencia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Cargar Descuento</h3>
     </div>
     <div class="modal-body">
       <label>Precio Combustible (litro): </label>
       <input type="text" id="nafta" name="nafta" value="" />
       <label>Litros Extras: </label>
       <input type="text" id="extra" name="extra" value="" />
         
     </div>
     <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
      <button class="btn btn-danger " id="save" data-id="0"  data-url="{{ path('caja_descontar') }}">Guardar</button>
     </div>
    </div>
    
       
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('js/selectbox/select2.js') }}"></script>
  <script src="{{ asset('js/selectbox/select2_locale_es.js') }}"></script>
  <script src="{{ asset('js/shadowbox/shadowbox.js') }}"></script>
  <script type="text/javascript">
Shadowbox.init();
</script>
{% javascripts '@BackendAdminBundle/Resources/public/js/validate_rendir.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% javascripts '@BackendAdminBundle/Resources/public/js/viaje.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% javascripts '@BackendAdminBundle/Resources/public/js/rendir.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% javascripts '@BackendAdminBundle/Resources/public/js/costo.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
