{% extends '::backend.html.twig' %}

{% block container -%}
    <h3>Nuevo Sintoma</h3>
    
   
    <div class="well">
    <div id="myTabContent" class="tab-content">
    <div class="tab-pane active in" id="home">
    <form class="form-horizontal" id="tab" name="tab" method="post" novalidate="true"    action="{{ path('sintoma_create') }}" >
     {{ form_errors(form) }}
   

    
    {% include 'BackendAdminBundle:Sintoma:_sintoma.html.twig' %} 

    
    {{ form_rest(form) }}

    <div class="control-group">
    <!-- Button -->
    <div class="controls">
    <button type="submit" class="btn btn-primary"><i class="icon-ok icon-white"></i>Crear</button>
    <button type="button" class="btn btn-inverse" data-url="{{ path('sintoma') }}"><i class="icon-chevron-left icon-white"></i> Back</button>
    
    </div>
    
    </div>
    </form>
    </div>
    
     </div>
      </div>
    

       
{% endblock %}
{% block javascripts %}
  {{ parent() }}
 
{% javascripts '@BackendAdminBundle/Resources/public/js/validate_sintoma.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
