{% extends '::backend.html.twig' %}

{% block container %}
    
    
        <h4>Listado de Marcas </h4>

<div class="row-fluid">
  
  
  <div class="span2">  {% if is_granted("ROLE_ADDMARCA") %} <button class="btn btn-primary" type="button" id="new_button" data-url="{{ path('marca_new') }}" >Nueva Marca</button> {% endif %} </div>
  
    <div class="span3">
     
    <form id="custom-search-form" class="form-search form-horizontal pull-right" action="#">
      <div class="input-append span12">
      <input type="text" class="search-query" name="search-query" id="search-query" placeholder="Buscar" value="{{ search }}">
      <button type="button" id="search-button" class="btn" data-url="{{ path('marca') }}" ><i class="icon-search"></i></button>
      </div>
      </form>
    
    
    
    </div>
    
     <div class="span2">
          {% if is_granted("ROLE_VIEWMARCA") %} <button class="btn btn-primary" type="button" id="exportar_button" data-url="{{ path('marca_exportar') }}" >Exportar </button> {% endif %}
    </div>
    
 </div>
    
    
    
    
    <div class="well">
    <table class="table">
    <thead>
    <tr>
    
    <th {% if pagination.isSorted('u.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nombre', 'u.name') }}</th>
    <th style="width: 36px;">Acciones</th>
    </tr>
    </thead>
    <tbody>
     {% for marca in pagination %}
   
    
     <tr>
                
                <td>{{ marca.name|capitalize }}</td>
                
                <td>
                {% if is_granted("ROLE_MODMARCA") %}
                <a href="{{ path('marca_edit', { 'id': marca.id }) }}"><i class="icon-pencil"></i></a>
                {% endif %}
                 {% if is_granted("ROLE_DELMARCA") %}
                
                <a href="#myModal" role="button" class="confirm-delete" data-toggle="modal" data-id={{ marca.id }} ><i class="icon-remove"></i></a>
                
                 {% endif %}
                </td>
    </tr>
    
    {% endfor %}
   
    </tbody>
    </table>
    </div>
    
    <div class="pagination">
     {{ knp_pagination_render(pagination) }}
    
    </div>
    
    <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Confirmar Borrado</h3>
     </div>
     <div class="modal-body">
       <p class="error-text">Esta seguro que desea borrar los datos de la marca?</p>
     </div>
     <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
      <button class="btn btn-danger " data-id="0"  data-url="{{ path('marca_delete', { 'id': 'id' }) }}">Borrar</button>
     </div>
    </div>
    
    
    <form action="" id="delete-form" method="post" {{ form_enctype(delete_form) }}>
    {{ form_widget(delete_form) }}
    <input type="hidden" value="DELETE" name="_method">
    
    </form>
    
    
    {% endblock %}
  {% block javascripts %}
  {{ parent() }}
 
{% javascripts '@BackendAdminBundle/Resources/public/js/search_index.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% javascripts '@BackendAdminBundle/Resources/public/js/exportar_entidad.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}      
  
{% endblock %}


