{% extends '::backend.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
   <link rel="stylesheet" href="{{ asset('css/bootstrap-datetimepicker.min.css') }}"  >
   
{% endblock %}
{% block container %}
    
       
        <h4>Listado de Viajes Cerrados </h4>

<div class="row-fluid">
  
  
  <div class="span2">   <button class="btn btn-primary" id="exportar_button" data-url="{{ path('exportar_cerrados') }}" type="button"  ><i class="icon-file icon-white"></i>Exportar</button> </div>
  
    <div class="span9">
     
    <form id="custom-search-form" method="get" class="form-search form-horizontal pull-left" action="{{ path('reporte_cerrados') }}">
      
      <div class="controls form-inline">
          <div class="input-append"  id="fecha">
          <input type="text" id="search-date" data-format="dd-MM-yyyy" name="date" class="input-small" placeholder="Regreso" value="{% if search.date != '' %}{{ search.date|date('d-m-Y') }}{% endif %}">
           <span class="add-on">
             <i class="icon-calendar"></i>
          </span>
          </div>
          <input type="text" id="search-chofer" name="chofer" class="input-small" placeholder="Chofer" value="{{ search.chofer }}">
          <input type="text" id="search-camion" name="camion" class="input-small" placeholder="Camion" value="{{ search.camion }}">
          <input type="text" id="search-operario" name="operario" class="input-small" placeholder="Operario" value="{{ search.operario }}"> 
          <input type="checkbox" id="clear-filter" name="clear-filter" value="1">Quitar Filtros
          <button type="submit" id="search-reporte-button" class="btn" ><i class="icon-search"></i></button>
      </div>
      
      </form>
    
    
    
    </div>
    
  
    
 </div>
    
    
    <div class="well">
    <table class="table">
    <thead>
    <tr>
    
    <th {% if pagination.isSorted('u.fecha_salida') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Fecha Salida', 'u.fecha_salida') }}</th>
    <th {% if pagination.isSorted('u.fecha_regreso') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Fecha Regreso', 'u.fecha_regreso') }}</th>
    <th {% if pagination.isSorted('c.patente') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Camión', 'c.patente') }}</th>
    <th {% if pagination.isSorted('h.lastname') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Chofer', 'h.lastname') }}</th>
    <th {% if pagination.isSorted('d.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Depósito', 'd.name') }}</th>
    <th {% if pagination.isSorted('o.username') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Creado', 'o.username') }} </th>
    </tr>
    </thead>
    <tbody>
     {% for viaje in pagination %}
   
    
     <tr>
                
                <td>{{ viaje.getFechaSalida |date('d-m-Y') }}</td>
                <td>{{ viaje.getFechaRegreso |date('d-m-Y') }}</td>
                <td>{{ viaje.camion }}</td>
                 <td>{{ viaje.chofer }} </td>
                <td>{{ viaje.deposito }}</td>
                <td>{{ viaje.getCreatedBy }}</td>
                
    </tr>
    
    {% endfor %}
   
    </tbody>
    </table>
    </div>
    
    <div class="pagination">
     {{ knp_pagination_render(pagination) }}
    
    </div>
    
   
    
    
    {% endblock %}
  {% block javascripts %}
  {{ parent() }}
   <script src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>
   <script src="{{ asset('js/locales/bootstrap-datetimepicker.es.js') }}"></script>
   {% javascripts '@BackendAdminBundle/Resources/public/js/cerrado.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
   
{% javascripts '@BackendAdminBundle/Resources/public/js/exportar_reporte.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %} 
{% endblock %}