{% extends '::backend.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
   
   
{% endblock %}
{% block container %}
    
       
        <h4>Listado de Costos de Viajes </h4>

<div class="row-fluid">
  
  
  <div class="span2">   <button class="btn btn-primary" id="exportar_button" data-url="{{ path('exportar_costos') }}" type="button"  ><i class="icon-file icon-white"></i>Exportar</button> </div>
  
    <div class="span9">
     
    <form id="custom-search-form" method="get" class="form-search form-horizontal pull-left" action="{{ path('reporte_costos') }}">
      
      <div class="controls form-inline">
          <input type="text" id="search-deposito" name="deposito" class="input-small" placeholder="Depósito" value="{{ search.deposito }}">
          <input type="text" id="search-chofer" name="chofer" class="input-small" placeholder="Chofer" value="{{ search.chofer }}">
          <input type="text" id="search-camion" name="camion" class="input-small" placeholder="Camión" value="{{ search.camion }}">
          <input type="text" id="search-tipocosto" name="tipocosto" class="input-small" placeholder="Tipo Costo" value="{{ search.tipocosto }}">
          <input type="text" id="search-viaje" name="viaje" class="input-small" placeholder="Nº viaje" value="{{ search.viaje }}"> 
          <input type="checkbox" id="clear-filter" name="clear-filter" value="1">Quitar Filtros
          <button type="submit" id="search-reporte-button" class="btn" ><i class="icon-search"></i></button>
      </div>
      
      </form>
    
    
    
    </div>
    
  
    
 </div>
    
    
    <div class="well">
    <table class="table">
    <thead>
    <tr>
    
    <th {% if pagination.isSorted('v.id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nº viaje', 'v.id') }}</th>
    <th {% if pagination.isSorted('d.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Depósito', 'd.name') }}</th>
    <th {% if pagination.isSorted('h.lastname') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Chofer', 'h.lastname') }}</th>
    <th {% if pagination.isSorted('c.patente') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Camión', 'c.patente') }}</th>
     <th>Interno</th>
     <th>Fecha</th>
    <th>Hora</th>
    <th>Tipo Viaje</th>
    <th {% if pagination.isSorted('t.texto') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Tipo Costo', 't.texto') }}</th>
   
    
    
    <th>Concepto</th>
    <th {% if pagination.isSorted('u.recibo') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Recibo', 'u.recibo') }}</th>
    <th {% if pagination.isSorted('u.monto') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Monto', 'u.monto') }}</th>
    <th {% if pagination.isSorted('u.isAprobado') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Aprobado', 'u.isAprobado') }}</th>
    
    </tr>
    </thead>
    <tbody>
     {% for costo in pagination %}
   
    
     <tr>
                
                <td>{{ costo.getViaje.getId }}</td>
                 <td>{{ costo.getViaje.getDeposito }}</td>
                <td>{{ costo.getViaje.getChofer }}</td>
                <td>{{ costo.getViaje.getCamion }}</td>
                <td>{{ costo.getViaje.getCamion.getInterno }}</td>
                <td>{{ costo.getViaje.getFechaSalida |date('d-m-Y') }}</td>
                <td>{{ costo.getViaje.getHoraSalida |date('H:i') }}</td>
                 <td>{{ costo.getViaje.getTipoViaje }}</td>
                <td>{{ costo.getTipo }}</td>
                
               
                
                <td>{{ costo.concepto }}</td>
                <td>{{ costo.recibo }}</td>
                <td>{{ costo.monto }}</td>
                <td> {% if costo.isAprobado %}  <span class="label label-success">Aprobado</span> 
                     {% else %}
                     <span class="label label-warning">No Aprobado</span> 
                     {% endif %} 
                </td>
                
                                                  
    </tr>
    
    {% endfor %}
   
    </tbody>
    </table>
    </div>
    
    <div class="pagination">
     {{ knp_pagination_render(pagination) }}
    
    </div>
    
   
    
    
    {% endblock %}
  {% block javascripts %}
  {{ parent() }}
 
   
   
{% javascripts '@BackendAdminBundle/Resources/public/js/exportar_reporte.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %} 
{% endblock %}