{% extends '::backend.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
   <link rel="stylesheet" href="{{ asset('css/bootstrap-datetimepicker.min.css') }}"  >
   
{% endblock %}
{% block container %}
    
       
        <h4>Listado de Eficiencia de Camiones </h4>

<div class="row-fluid">
  
  
  <div class="span2">   <button class="btn btn-primary" id="exportar_button" data-url="{{ path('exportar_eficiencia') }}" type="button"  ><i class="icon-file icon-white"></i>Exportar</button> </div>
  
    <div class="span10">
     
    <form id="custom-search-form" method="get" class="form-search form-horizontal pull-left" action="{{ path('reporte_eficiencia') }}">
      
      <div class="controls form-inline">
          <div class="input-append"  id="fecha_desde">
          <input type="text"  id="search-date_desde" data-format="dd-MM-yyyy" name="date_desde" class=" input-small" placeholder="Desde" value="{% if search.date_desde != '' %}{{ search.date_desde|date('d-m-Y') }} {% endif %}">
          <span class="add-on">
             <i class="icon-calendar"></i>
          </span>
          </div>
          <div class="input-append" id="fecha_hasta" >
          <input type="text" id="search-date_hasta" data-format="dd-MM-yyyy" name="date_hasta" class=" input-small" placeholder="Hasta" value="{% if search.date_hasta != '' %}{{ search.date_hasta|date('d-m-Y') }} {% endif %}">
          <span class="add-on">
             <i class="icon-calendar"></i>
          </span>
          </div>
          <input type="text" id="search-camion" name="camion" class="input-small" placeholder="Camión" value="{{ search.camion }}">
          <input type="text" id="search-chofer" name="chofer" class="input-small" placeholder="Chofer" value="{{ search.chofer }}">
          <label class="checkbox"> <input type="checkbox" id="excepcion" name="excepcion" {% if search.excepcion == 1 %} checked="checked" {% endif %} value="1"> solo con excepción</label>
          <label class="checkbox"> <input type="checkbox" id="clear-filter" name="clear-filter" value="1">Quitar Filtros</label>
          <button type="submit" id="search-reporte-button" class="btn" ><i class="icon-search"></i></button>
      </div>
      
      </form>
    
    
    
    </div>
    
  
    
 </div>
    
    
    <div class="well">
    <table class="table">
    <thead>
    <tr>
    <th>Nº Viaje</th>
    <th {% if pagination.isSorted('u.fecha_salida') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Fecha Salida', 'u.fecha_salida') }}</th>
    <th {% if pagination.isSorted('u.fecha_regreso') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Fecha Regreso', 'u.fecha_regreso') }}</th>
    <th {% if pagination.isSorted('c.patente') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Camión', 'c.patente') }}</th>
     <th> Interno </th>
    <th {% if pagination.isSorted('h.lastname') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Chofer', 'h.lastname') }}</th>
    <th {% if pagination.isSorted('u.km_retorno') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Km Totales', 'u.km_retorno') }}</th>
    <th {% if pagination.isSorted('u.consumido') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Combustible', 'u.consumido') }}</th>
    <th {% if pagination.isSorted('u.eficiencia') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Eficiencia', 'u.eficiencia') }}</th>
    <th> Eficiencia Ideal </th>
    <th> Descuento</th>
    </tr>
    </thead>
    <tbody>
     {% for viaje in pagination %}
       {%   set eficiencia=viaje.getEficiencia %}
       {%   set dif= viaje.getCamion.getEficienciaIdeal * desvio / 100 %}
       {%   set limite_inf = viaje.getCamion.getEficienciaIdeal - dif %}
       {%   set limite_sup = viaje.getCamion.getEficienciaIdeal + dif %}
      
       {% set existe=false %}
       {% set dto_monto = 0 %}
       {% set dto_id = 0 %}
         {% for  dto in viaje.getCajaempleado()  %}
            {%  if dto.tipo == "e" %}
             {% set existe=true %}
             {% set dto_monto = dto.monto %}
             {% set dto_id = dto.id %}
            {% endif %}
         {% endfor  %}
   
   
    
     <tr  {% if (not existe and eficiencia > limite_sup) %} class="red_row"  {% endif %} >
                <td><a href="{{ path('viaje_rendir', { 'id': viaje.id }) }}">{{ viaje.id }}</a></td>
                <td>{{ viaje.getFechaSalida |date('d-m-Y') }}</td>
                <td>{{ viaje.getFechaRegreso |date('d-m-Y') }}</td>
                <td>{{ viaje.camion }}</td>
                 <td>{{ viaje.getCamion.getInterno }}</td>
                 <td>{{ viaje.chofer }} </td>
                <td>{% set km_totales=viaje.getKmRetorno - viaje.getKmCamion %}
                    {{ km_totales  }}
                </td>
                 <td>{{ viaje.getConsumido | number_format(2) }}</td>
                 <td>
                
                   <span class="label 
                      {%    if eficiencia < limite_inf %}
                           label-warning
                      {%  elseif eficiencia > limite_sup %}
                           label-important
                      {% else %}
                           label-success
                      {% endif %}     
                   ">
                   {{ eficiencia | number_format(2) }}
                   </span> 
                      
                 </td>
                  
                 <td>
                   {{ viaje.getCamion.getEficienciaIdeal | number_format(2) }}
                 </td>
                 <td>   
                   {% if (existe) %}
                       {% if is_granted("ROLE_MODCAJAEMPLEADO") %}<a href="{{ path('caja_edit', { 'id': dto_id }) }}">{% endif %}
                         Descuento: {{ dto_monto }}
                         {% if is_granted("ROLE_MODCAJAEMPLEADO") %} </a>{% endif %}
                   {% endif %}
                   {% if (not existe and eficiencia > limite_sup) %}
                    <a href="#myModal" class="eficiencia-descuento" role="button" data-toggle="modal" data-id="{{ viaje.id }}" data-url="{{ path('viaje_especifico', { 'id': viaje.id }) }}">Agregar Descuento</a>
                   {% endif %}
                   
                  </td>
                
    </tr>
    
    {% endfor %}
   
    </tbody>
    </table>
    </div>
    
    <div class="pagination">
     {{ knp_pagination_render(pagination) }}
    
    </div>
    
       <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Cargar Descuento</h3>
     </div>
     <div class="modal-body">
       <label>Precio Combustible (litro): </label>
       <input type="text" id="nafta" name="nafta" value="" />
       <label>Litros Extras: </label>
       <input type="text" id="extra" name="extra" value="" />
         
     </div>
     <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
      <button class="btn btn-danger " id="save" data-id="0"  data-url="{{ path('caja_descontar') }}">Guardar</button>
     </div>
    </div>
    
    
    {% endblock %}
  {% block javascripts %}
  {{ parent() }}
   <script src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>
   <script src="{{ asset('js/locales/bootstrap-datetimepicker.es.js') }}"></script>
   {% javascripts '@BackendAdminBundle/Resources/public/js/descuentos.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
   
{% javascripts '@BackendAdminBundle/Resources/public/js/exportar_reporte.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %} 
{% javascripts '@BackendAdminBundle/Resources/public/js/eficiencia_descuento.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %} 
{% endblock %}