
<div class="control-group">

{{ form_label(form.clase,"Clase", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.clase, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_movimiento_clase_errorloc' class="help-inline error" >{{ form_errors(form.clase) }}</div>
  
</div>
</div>


<div class="control-group">

{{ form_label(form.deposito,"Depósito", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.deposito, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_movimiento_deposito_errorloc' class="help-inline error" >{{ form_errors(form.deposito) }}</div>
  
</div>
</div>

<div class="control-group" id="list_destinos">

{{ form_label(form.deposito_destino,"Depósito Destino", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.deposito_destino, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_movimiento_deposito_destino_errorloc' class="help-inline error" >{{ form_errors(form.deposito_destino) }}</div>
  
</div>
</div>

<div class="control-group" id="list_tipo">

{{ form_label(form.tipo,"Tipo", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.tipo, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_movimiento_tipo_errorloc' class="help-inline error" >{{ form_errors(form.tipo) }}</div>
  
</div>
</div>



<div class="control-group">

{{ form_label(form.monto,"Monto", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.monto, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_movimiento_monto_errorloc' class="help-inline error" >{{ form_errors(form.monto) }}</div>
  
</div>
</div>

<div class="control-group">

{{ form_label(form.destinatario,"Destinatario", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.destinatario, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_movimiento_destinatario_errorloc' class="help-inline error" >{{ form_errors(form.destinatario) }}</div>
  
</div>
</div>



<div class="control-group">

{{ form_label(form.motivo,"Motivo", { 'label_attr': {'class': 'control-label'} }) }}
<div class="controls">
 {{ form_widget(form.motivo, { 'attr': {'class': 'input-xlarge'} }) }}
 <div id='backend_adminbundle_movimiento_motivo_errorloc' class="help-inline error" >{{ form_errors(form.motivo) }}</div>
  
</div>
</div>


