{% extends '::backend.html.twig' %}

{% block container %}
  {% set active=3 %}
  {% include 'BackendAdminBundle:Viaje:menu_viaje.html.twig' %}
  
  
   <div class="well">  
      
       
        <h4>Listado de Movimientos </h4>
        
<div class="row-fluid">
  
  
  <div class="span2">  {% if is_granted("ROLE_ADDCAJA") %} <button class="btn btn-primary" type="button" id="new_button" data-url="{{ path('movimiento_new') }}" >Nuevo </button> {% endif %} </div>
  
    <div class="span4">
     
    <form id="custom-search-form" method="get" class="form-search form-inline" action="{{ path('caja') }}">
      <div class="input-append">
      <input type="text" class="search-query" name="query" id="search-query" placeholder="Buscar" value="{{ search.query }}">
      <button type="submit" id="search-button-movimiento" class="btn"  ><i class="icon-search"></i></button>
      </div>
       <label class="checkbox">
      <input type="checkbox" id="show_all" name="show_all" {% if search.show_all == 1 %} checked="checked" {% endif %} value="1"> ver todos
      </label>
      </form>
    
    
    
    </div>
     
     <div class="pager_up">
     <div>{% if is_granted('ROLE_DEPOSITO') %} Caja en depósito: $ {{ app.user.getDeposito.getSaldo }} {% else %}
     {% if is_granted('ROLE_ADMIN') %} {{ render(controller('BackendAdminBundle:Movimiento:getSaldoCentral')) }}   {% endif %} {% endif %}
     </div>
     {{ knp_pagination_render(pagination) }}
    
    </div> 
    
 </div>
   
     
   
    <div class="well">
    <table class="table">
    <thead>
    <tr>
    
    <th {% if pagination.isSorted('u.fecha') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Fecha', 'u.fecha') }}</th>
    <th {% if pagination.isSorted('d.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Depósito', 'd.name') }}</th>
    <th {% if pagination.isSorted('u.monto') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Cantidad', 'u.monto') }}</th>
    <th {% if pagination.isSorted('u.tipo') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Tipo', 'u.tipo') }}</th>
    <th {% if pagination.isSorted('u.recibo') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Recibo', 'u.recibo') }}</th>
    <th {% if pagination.isSorted('u.saldo_deposito') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Saldo', 'u.saldo_deposito') }}</th>
    <th>Nº viaje</th>
    <th>Destinatario</th>
    <th>Observaciones</th>
    
    <th style="width: 36px;">Acciones</th>
    </tr>
    </thead>
    <tbody>
     {% for movimiento in pagination %}
   
    
     <tr>
                
                <td>{{ movimiento.fecha|date('d-m-Y H:i') }}</td>
                <td> {{ movimiento.deposito }} </td>
                <td>${{ movimiento.monto }}</td>
                <td>{% if  movimiento.tipo == 'i' %}
                  <span class="label label-success">Ingreso</span>
                  {% else %}
                  <span class="label label-important">Egreso</span>
                  {% endif %}
                </td>
                <td>{{ movimiento.recibo }}</td>
                <td>${{ movimiento.getSaldoDeposito }}</td>
                <td>{% if movimiento.getViaje %}
                <a href="{{ path('viaje_rendir', { 'id': movimiento.getViaje.getId }) }}">{{ movimiento.getViaje }}</a> 
                {% endif %}
                </td>
                <td>{{ movimiento.destinatario }}</td>
                <td>{{ movimiento.motivo }}</td>
                <td>
            
                <a href="{{ path('movimiento_print',{ 'id': movimiento.id }) }}"><i class="icon-print"></i></a>
            
                {% if is_granted("ROLE_DELCAJA") %}
                <a href="#myModal" role="button" class="confirm-delete" data-toggle="modal" data-id={{ movimiento.id }} ><i class="icon-remove"></i></a>
                {% endif %}
                </td>
    </tr>
    
    {% endfor %}
   
    </tbody>
    </table>
    
    
    
    </div >
     <div class="pager_down">
     {{ knp_pagination_render(pagination) }}
    
    </div>
    
    
    <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Confirmar Borrado</h3>
     </div>
     <div class="modal-body">
       <p class="error-text">Esta seguro que desea borrar el movimiento seleccionado?</p>
     </div>
     <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
      <button class="btn btn-danger " data-id="0"  data-url="{{ path('movimiento_delete', { 'id': 'id' }) }}">Borrar</button>
     </div>
    </div>
    
    
    <form action="" id="delete-form" method="post" {{ form_enctype(delete_form) }}>
    {{ form_widget(delete_form) }}
    <input type="hidden" value="DELETE" name="_method">
    
    </form>
  </div>  
    
    {% endblock %}
  {% block javascripts %}
  {{ parent() }}
 
{% javascripts '@BackendAdminBundle/Resources/public/js/search_movimiento.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
   
  
{% endblock %}
